@charset "UTF-8";

article {
    background: rgba(255, 0, 0, 0.256);
    width: 80vw;
    margin: auto;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #FBF8FB;
    font-family: sans-serif;
}

#logo {
    text-align: center;
    background: #FFC400;
    width: 100vw;
    color: white;
    position: relative;
}

.menu > a:hover {
    background: white;
    color: #F4C470;
    padding: 10px;
    box-sizing: border-box;
}

#logo > h1 {
    font-size: 3em;
    padding-top: 30px;
}

.tec {
    color: #4D4B4D;
    font-weight: bold;
    font-family: sans-serif;
}

.tgm {
    margin: 20px;
    padding-bottom: 30px;
}

.menu > a {
    margin: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    font-family: sans-serif;
}


#conteudo {
    background: #FFFFFF;
    width: 700px;
    padding: 20px;
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.212);
}

#conteudo > div > p {
    width: 650px;
}

#conteudo > div > a {
    color: #FFC847;
    text-decoration: none;
}

.recentes, .categorias > h2 {
    color: #53525D;
    background: #DDDADD;
}

.recentes {
    width: 300px;
    position: relative;
    left: 750px;
    bottom: 490px;
    background: #FFFFFF;
    padding: 15px;
}

.recentes > h2 {
    background: #DDDADD;
    padding: 10px;
}

.recentes > p {
    padding: 10px;
}

.recentes > a {
    color: #FFC847;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.categorias {
    background: #FFFFFF;
    width: 300px;
    position: relative;
    left: 750px;
    bottom: 460px;
    padding: 15px;
}

.categorias > h2 {
    padding: 10px;
}

.categorias > p {
    padding: 10px;
}

.cat > a {
    color: #FFC847;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

