@charset "UTF-8";

body {
    width: 500px;
}

#principal {
    border: 1px solid red;
}

.conteudo {
    background: blue;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    margin: 15px;
    float: left;
}

.clear {
    clear: left;
}

/*.conteudo1 {
    background: red;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    float: left;
    margin: 15px;
}*/