@charset "UTF-8";

.conteudo {
    background: blue;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    margin: 15px;
    float: right;
}

}
/*.conteudo1 {
    background: red;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    float: right;
    margin: 15px;
}*/