@charset "UTF-8";

/*******************************
Barra de Navegação Horizontal */

ul {
    margin: 0px;
    padding:0px;
    list-style-type: none;
    width: 720px;
    background: #159cb0 url('../imagens/fundo-horizontal.png') repeat-x;
    float: left;
}

ul li {
    float: left;
}

ul a {
    display: block;
    padding: 0 2em;
    line-height: 2em; /* Usado no local do padding superior para poder ja centralizar o texto junto */
    text-decoration: none;
    color: #fff;
    background: url('../imagens/divisor.png') repeat-y;
}

ul .primeiro a {
    background: none;
}

a:hover {
    color: #085662;
    background: #44cade;
}

#home #navegacao .home a, 
#sobre #navegacao .sobre a, 
#servicos #navegacao .servicos a {
    color: #085662;
    background: #44cade;
}